//if helper
  {{#if published}}
    <h1>yes i did it</h1>
    {{else}}
      <p>you did not</p>
  {{/if}}

//unless helper does something if not enabled
{{#unless isListEnabled}}

    <ul>
        <li>home</li>
        <li>about</li>
        <li>dashboard</li>
    </ul>

{{/unless}}

//each helper
{{#each people as |value key|}}
  <p>{{key}}: {{value}}</p>
{{/each}}

//each helper with json object
{{#each user}}
  <p>{{@key}}: {{this}}</p>
{{/each}}

// list helper example you can use . or /

{{#each lists as |xValue xKey|}}
  {{#each xValue.items as |yValue yKey|}}
    <p>{{yValue}}</p>
    {{log yKey}}
  {{/each}}
  <hr>
{{/each}}

// custom helpers
{{calc 50}}

{{#list title}}
  {{test}}
  {{page}}
{{/list}}
//dynamic data
{{content}}
